body{
    background: rgb(36,54,101);
    background: -webkit-linear-gradient(to right, rgba(36,54,101,1) 0%, rgba(64,98,125,1) 42%, rgba(139,216,189,1) 90%);
    background: linear-gradient(to right, rgba(36,54,101,1) 0%, rgba(64,98,125,1) 42%, rgba(139,216,189,1) 90%);
}

#homePage{
    width: 100%;
    height: 100%;
}

#navbarBox{
    font-size: 24px;
    color: goldenrod;
}

#navbar{
    text-align: center;
}

#logBtn{
    text-align: center;
}

#introHeaderBox{
    height: 60vh;
    position: relative;
}

#introHeader{
    margin: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

#introHeader h1{
    font-size: 42px;
    padding-bottom: 20px;
    color: white;
}

#introHeader p{
    font-size: 18px;
    color: white;
}

#introTextBox{
    padding: 10px;
}

#introText{
    color: white;
    font-size: 18px;
}



/* About Page */
#aboutContBox{
    padding-top: 20vh;
    color: #3a053b;
}

#aboutContBox h2{
    font-size: 32px;
}

#aboutContBox p{
    font-size: 22px;
}

#aboutConBtn{
    text-decoration: underline;
    text-decoration-color: white;
}

#startBox{
    text-align: center;
    padding-top: 20px;
}

#startBox a{
    font-size: 22px;
    border: 4px solid darkgoldenrod;
    padding: 5px 10px;
    border-radius: 20px;
}


/* Contact Page */

#contactBox{
    padding-top: 20vh;
    margin: 0;
    overflow: hidden;
}

#contactForm{
    color: white;
}

#contactForm input{
    background-color: inherit;
    border: none;
    border-bottom: 3px solid gold;
    color: white;
}

#contactForm textarea{
    resize: none;
    background-color: inherit;
    color: white;
    border: 2px dotted gold;
}

#mapBox iframe{
   width: 500px;
    height: 500px;
}

.contactInfo h2{
    padding-top: 15px;

}

.contactInfo h3{
    padding-top: 15px;

}

@media only screen and (min-width: 1000px) {


}




@media only screen and (min-width: 1000px) {

    #introHeaderBox{
        height: 50vh;
    }

    #introHeader{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-40%,-50%);
    }

    #introHeader div{
        text-align: left;
    }

    #introTextBox{
        padding-left: 80px  ;
    }

    #contactBox{

        padding-left: 10px;
        padding-right: 10px;
    }
}